[submodule "ClangSetup"]
	path = ClangSetup
	url = https://github.com/Time0o/ClangSetup
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
